<!-- Crear usuario -->
<div
  class="modal fade"
  id="crearModal"
  tabindex="-1"
  aria-labelledby="crearModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header d-block">
        <h5 class="modal-title mb-2" id="crearModalLabel">Nuevo Cliente</h5>
        <div id="messageBox"></div>
      </div>
      <div class="modal-body">
        <form method="post" id="registerForm">
          <div class="form-floating mb-2 mb-md-3">
            <input
              class="form-control"
              id="inputName"
              type="text"
              placeholder="Nombre"
              name="name"
              autocomplete="false"
              required
            />
            <label for="inputName">Nombre</label>
          </div>
					<div class="row">
            <div class="col-6 mb-2 mb-md-3">
              <div class="form-floating">
                <input
                  class="form-control"
                  id="inputPhone"
                  type="text"
                  placeholder="Télefono"
                  name="phone"
                  autocomplete="false"
                  required
                />
                <label for="inputPhone">Télefono</label>
              </div>
            </div>
            <div class="col-6">
              <div class="form-floating">
                <input
                  class="form-control"
                  id="inputEmail"
                  type="email"
                  placeholder="Correo"
                  name="email"
                  autocomplete="false"
                  required
                />
                <label for="inputEmail">Correo</label>
              </div>
            </div>
          </div>
          <div class="row mb-2 mb-md-3">
            <div class="col-12">
              <div class="form-floating">
                <textarea
                  class="form-control"
                  id="inputAddress"
                  type="text"
                  placeholder="Dirección"
                  name="address"
                  autocomplete="false"
                  required
                ></textarea>
                <label for="inputAddress">Dirección</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 mb-2 mb-md-3">
              <div class="form-floating">
                <select
                  class="form-select"
                  id="provinces"
                  name="province"
                  autocomplete="false"
                  required
                >
                  <% provinces.forEach(province => { %>
                  <option value="<%= province.id %>">
                    <%= province.name %>
                  </option>
                  <% }); %>
                </select>
                <label for="provinces" class="form-label"
                  >Provincias (elige una):</label
                >
              </div>
            </div>
          </div>

          <!-- Agrega más campos según sea necesario -->
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
          Cerrar
        </button>
        <button type="submit" class="btn btn-success" form="registerForm">
          Registrar
        </button>
      </div>
    </div>
  </div>
</div>
