<% if (errors !== 'undefined') { %> <% errors.forEach(error => { %>
<div class="alert alert-danger alert-dismissible fade show">
  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  <strong>¡Error!</strong> <%= error %>
</div>
<% }) %> <% } %>
