<!-- Crear tipo de dispositivo -->
<div
  class="modal fade"
  id="crearModal"
  tabindex="-1"
  aria-labelledby="crearModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header d-block">
        <h5 class="modal-title mb-2" id="crearModalLabel">Nuevo tipo de dispositivo</h5>
        <div id="messageBox"></div>
      </div>
      <div class="modal-body">
        <form method="post" id="registerForm">
          <div class="row">
            <div class="col-12 mb-2 mb-md-3">
              <div class="form-floating">
                <input
                  class="form-control"
                  id="inputName"
                  type="text"
                  placeholder="Nombre"
                  name="name"
                  autocomplete="false"
                  required
                />
                <label for="inputName">Nombre</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 col-12 mb-2 mb-md-3">
              <div class="form-floating">
                <select
                  class="form-select"
                  id="deviceClass"
                  name="deviceClass"
                  autocomplete="false"
                  required
                >
                  <% deviceClass.forEach(value => { %>
                  <option value="<%= value.id %>">
                    <%= value.name %>
                  </option>
                  <% }); %>
                </select>
                <label for="deviceClass" class="form-label"
                  >Clase de dispositivo (Selecciona uno): </label
                >
              </div>
            </div>
            <div class="col-sm-6 col-12 mb-2 mb-md-3">
              <div class="form-floating">
                <select
                  class="form-select"
                  id="deviceSupplier"
                  name="deviceSupplier"
                  autocomplete="false"
                  required
                >
                  <% deviceSupplier.forEach(value => { %>
                  <option value="<%= value.id %>">
                    <%= value.name %>
                  </option>
                  <% }); %>
                </select>
                <label for="deviceSupplier" class="form-label"
                  >Proveedor del dispositivo (Selecciona uno): </label
                >
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
          Cerrar
        </button>
        <button type="submit" class="btn btn-success" form="registerForm">
          Registrar
        </button>
      </div>
    </div>
  </div>
</div>
