<!-- Crear dispositivo -->
<div
  class="modal fade"
  id="crearModal"
  tabindex="-1"
  aria-labelledby="crearModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-md modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header d-block">
        <h5 class="modal-title mb-2" id="crearModalLabel">Nueva Clase</h5>
        <div id="messageBox"></div>
      </div>
      <div class="modal-body">
        <form method="post" id="registerForm">
          <div class="row">
            <div class="col-12 mb-2 mb-md-3">
              <div class="form-floating">
                <input
                  class="form-control"
                  id="inputName"
                  type="text"
                  placeholder="Nombre"
                  name="name"
                  autocomplete="false"
                  required
                />
                <label for="inputName">Nombre</label>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
          Cerrar
        </button>
        <button type="submit" class="btn btn-success" form="registerForm">
          Registrar
        </button>
      </div>
    </div>
  </div>
</div>

<!-- editar dispositivos -->
<div
  class="modal fade"
  id="editarModal"
  tabindex="-1"
  aria-labelledby="editarModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-md modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header d-block">
        <h5 class="modal-title mb-2" id="editarModalLabel">Editar Clase</h5>
        <div id="editMessageBox"></div>
      </div>
      <div class="modal-body">
        <form method="post" id="editForm">
          <input
            type="text"
            id="deviceClassId"
            name="deviceClassId"
            class="d-none"
          />
          <div class="row">
            <div class="col-12 mb-2 mb-md-3">
              <div class="form-floating">
                <input
                  class="form-control"
                  id="editInputName"
                  type="text"
                  placeholder="Nombre"
                  name="name"
                  autocomplete="false"
                  disabled
                />
                <label for="editInputName">Nombre</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 mb-2 mb-md-3">
              <div class="form-floating">
                <select
                  class="form-select"
                  name="status"
                  id="editStatus"
                  autocomplete="false"
                  title="Ten en cuenta que si inhabilitas una clase, esto inhabilitará todos sus dispositivos y tipos de dispositivos."
                  required
                >
                  <% status.forEach(value => { %>
                  <option value="<%= value.id %>"><%= value.info %></option>
                  <% }); %>
                </select>
                <label for="editStatus" class="form-label"
                  >Estado: (elige uno):</label
                >
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
          Cerrar
        </button>
        <button
          type="submit"
          class="btn btn-success"
          form="editForm"
          title="Ten en cuenta que si inhabilitas una clase, esto inhabilitará todos sus dispositivos y tipos de dispositivos."
        >
          Registrar
        </button>
      </div>
    </div>
  </div>
</div>
