<h1 class="mt-4">Usuarios</h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
  <li class="breadcrumb-item active">Usuarios</li>
</ol>
<div class="card mb-4">
  <div class="card-header">
    <i class="fa-solid fa-users-gear"></i>
    Usuarios
  </div>
  <div class="card-body">
    <table
      id="DataTable"
      class="display responsive table table-hover w-100 fs-6"
    ></table>
  </div>
</div>
<%- contentFor('styles') %>
<!--Datatables-->
<%- contentFor('scripts') %>
<!--Datatables-->
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
<script src="https://cdn.datatables.net/select/1.7.0/js/dataTables.select.min.js"></script>

<script nonce="<%=cspNonce%>">
  $(document).ready(function () {
    const table = $("#DataTable").DataTable({
      responsive: true,
      select: {
        info: false,
        style: "single",
      },
      processing: true,
      serverSide: true,
      ajax: "/api/users", // Ruta de la API en tu servidor Express.js
      columns: [
        { title: "Id", data: "id" },
        { title: "NOMBRE", data: "name" },
        { title: "APELLIDOS", data: "last_name" },
        { title: "CORREO", data: "email" },
        { title: "USUARIO", data: "username" },
        { title: "ROL", data: "rol_name" },
        { title: "PROVINCIA", data: "province_name" },
        {
          title: "ESTADO",
          data: "status",
          render: function (data) {
            if (data === "HABILITADO") {
              return `
              <button title="INHABILITADO" class="btn btn-success btn-sm w-100" style="pointer-events:none">Habilitado</button>`;
            } else {
              return `
              <button title="INHABILITADO" class="btn btn-danger btn-sm w-100 nowrap" style="pointer-events:none">Inhabilitado</button>`;
            }
          },
          width: "11%",
        },
      ],
      oLanguage: { sSearch: "" },
      language: {
        url: "https://cdn.datatables.net/plug-ins/1.13.6/i18n/es-ES.json",
        searchPlaceholder: "Buscar...",
      },
      dom: '<"d-sm-flex justify-content-sm-between"lf><"my-1 d-flex justify-content-center" B>rt<"d-flex justify-content-center" i><"d-flex justify-content-center"p>',
      buttons: [
        {
          text: '<i class="fas fa-plus"></i> Crear',
          action: function (e, dt, node, config) {
            $("#crearModal").modal("show");
          },
          className: "btn btn-success btn-sm",
        },
        {
          text: '<i class="fas fa-pencil-alt"></i> Editar',
          action: function (e, dt, node, config) {
            // Obtener la fila seleccionada
            const data = table.row({ selected: true }).data();
            const editForm = $("#editForm");
            if (data) {
              showEditModal(editForm, data);
            } else {
              $("#rowErrorModal").modal("show");
            }
          },
          className: "btn btn-warning btn-sm",
        },
      ],
    });
  });
</script>
