<h1 class="mt-4">Usuarios</h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
  <li class="breadcrumb-item active">Usuarios</li>
</ol>

<div class="card mb-4">
  <div class="card-header">
    <i class="fa-solid fa-users-gear"></i>
    Usuarios
  </div>

  <div class="card-body">
    <div class="row mb-4">
      <div class="col-12">
        <a class="btn btn-sm btn-outline-success">Añadir</a>
      </div>
    </div>
    <table
      id="DataTable"
      class="display responsive table table-hover w-100 fs-6"
    ></table>
  </div>
</div>
<%- contentFor('styles') %>
<!--Datatables-->
<%- contentFor('scripts') %>
<!--Datatables-->
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/select/1.7.0/js/dataTables.select.min.js"></script>

<script nonce="<%=cspNonce%>">
  $(document).ready(function () {
    const table = $("#DataTable").DataTable({
      responsive: true,
      select: {
        info: false,
        style: "single",
      },
      processing: true,
      serverSide: true,
      ajax: "/api/users", // Ruta de la API en tu servidor Express.js
      columns: [
        { title: "Id", data: "id" },
        { title: "Nombre", data: "name" },
        { title: "Apellidos", data: "last_name", width: "fit-content" },
        { title: "Usuario", data: "username", width: "fit-content" },
        { title: "Correo", data: "email", width: "fit-content" },
        { title: "Rol", data: "rol_name", width: "fit-content" },
        { title: "Provincia", data: "province_name", width: "fit-content" },
        {
          title: "Estado",
          data: "status",
          render: function (data) {
            if (data === "HABILITADO") {
              return `<span class="badge bg-success">Habilitado</span>`;
            }
            return `<span class="badge bg-danger">Inhabilitado</span>`;
          },
          width: "fit-content",
        },
      ],
      oLanguage: { sSearch: "" },
      language: {
        url: "https://cdn.datatables.net/plug-ins/1.13.6/i18n/es-ES.json",
        searchPlaceholder: "Buscar...",
      },
    });
  });
</script>
